
:root {
    --seriffont: 'Roboto Slab', serif;
    --sansseriffont: 'Lato', sans-serif;
    font-family: var(--sansseriffont);
}

body {
    /* Background pattern from Toptal Subtle Patterns */
    background-image: url(img/background.png);
    margin: 0;
    padding: 0;

}

h1, h2, h3 {
    font-family: var(--seriffont);
}


nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 20px;
}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.menu a {
    margin: auto;
    padding: 20px;
}

#posts {

    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    max-width: 1100px;
    margin: auto;
    justify-content: center;
}

.picture {
    margin: auto;
    padding: 20px;
    width: 250px;
    text-align: center;
}

.pic {
    width:250px;
    height: 250px;
    object-fit: cover;
    border: 5px solid red;

}



/*******LOGIN********/

#login {
    display: flex;
    width: 400px;
    height: 500px;
    margin: auto;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    border: 2px solid #444444;
    border-radius: 20%;
}

#login > input {
    width: 350px;
    margin: auto;
}